.benefit-container {
    background-color: #ADC2C9;
    padding: 50px 80px;

}

.benefit-card {
    text-align: center;
    justify-content: space-between;
    height: 100%;
}

.benefits-icon i {
    background-color: #fff;
    padding: 50px;
    font-size: 40px;
    border-radius: 50%;
}

.benefits-text {
    font-size: 20px;
    margin: 20px 0;
    font-weight: 700;
}

.benefits-content {
    color: #000;
    font-weight: 600;
    font-size: 14px;
    padding: 0 20px;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
}