.music-interests h5{
    margin-top: 30px;
    display: flex;
    flex: end;
}

.inspired-by-section,
.talents-section,
.genres-section {
    margin-top: 20px;
}

.inspired-by-list,
.talent-list,
.genre-list {
    display: flex;
    flex-wrap: wrap;
}

.chip {
    display: flex;
    align-items: center;
    background-color: #1a1a1a;
    color: white;
    padding: 8px 12px;
    border-radius: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.chip i {
    margin-left: 8px;
    cursor: pointer;
}

.add-inspired-by {
    background-color: transparent;
    border: 1px solid #0056b3;
    color: #007bff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px;
}

.add-inspired-by i {
    margin-right: 5px;
}

.add-inspired-by:hover {
    color: #0056b3;

}

.talent,
.genre {
    background-color: #333;
}

.talent i,
.genre i {
    margin-right: 8px;
}

.btn-update {
    background-color: #007bff;
    color: white;
    border-radius: 50px;
    padding: 8px 12px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.update {
    width: 100px;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: #333;
    border-radius: 50px;
}
.chip.selected {
    background-color:  #E94F37; /* Màu nền cam */
    color: white; /* Màu chữ trắng, có thể thay đổi theo ý thích */
    cursor: pointer; /* Thay đổi con trỏ khi hover */
}

