.brand-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    width: 81%;
    z-index: 1000;
}

.brand:hover .brand-dropdown {
    display: block;
}

.brand-name {
    padding: 5px 10px;
}