.brand-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    width: 81%;
    z-index: 1000;
}

.brand:hover .brand-dropdown {
    display: block;
}

.brand-name {
    padding: 5px 10px;
    
}

.brand-name h6 {
    padding: 10px 0 0 0;
    font-size: 20px;
    margin-left: 40px;
}

.brand a:hover {
    color: #E94F37;
}