body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.sidebar21 {
    background-color: #011627;
    min-height: 100vh; 
    height: auto; 
    position: sticky; 
    top: 0;
    z-index: 100;
    overflow-x: hidden;
}

.sidebar21 .logo {
    padding: 10px;
    text-align: center;
}

.sidebar21 .menu21 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu21{
    padding-left: 50px;
}
.sidebar21 .menu21 li  {
    padding: 15px;
    margin-left: 20px;
    color: #e94f37 ;
}

.sidebar21 .menu21 li a {
    color: #e94f37 !important;
    text-decoration: none;
}

.sidebar21 .menu21 li a:active,
.sidebar21 .menu21 li a:hover,
.sidebar21 .menu21 li a:focus {
    color: #ffffff !important;
}

.sidebar21 .menu21 li i {
    margin-right: 10px;
}