.container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.img {
  position: relative;
  margin-top: 50px;
}

.button {
  position: absolute;
  top: 50%;
  background-color: white;
  border: none;
  color: black;
  font-size: 15px;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
}
.button1{
  position: absolute;
  top: 50%;
  background-color: white;
  border: none;
  color: black;
  font-size: 15px;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
}
.button1.left {
  left: -100px;
}

.button.right {
  right: 10px;
}

.noidungSP {
  margin-left: 20px;
}

h3 {
  max-width: 100%;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.price {
  color: red;
  font-weight: 700;
  font-size: 24px;
}

.soluongSP {
  margin-top: 20px;
  margin-right: 10px;
  width: 60px;
  height: 40px;
  text-align: center;
  border: 2px solid #CCC;
}

.btnCart {
  width: 250px;
  height: 40px;
}

.gioiThieu p {
  text-align: justify;
}

.mxh {
  display: flex;
  align-items: center;
  gap: 15px;
}

.mxh a {
  color: #000;
  font-size: 20px;
  transition: color 0.3s;
}

.mxh a:hover {
  color: #007bff;
}

hr {
  margin: 30px 0;
}

@media (max-width: 768px) {
  .col-md-4, .col-md-8 {
    flex: 100%;
    max-width: 100%;
  }

  .noidungSP {
    margin-left: 0;
  }

  h3 {
    font-size: 24px;
  }

  .price {
    font-size: 18px;
  }
}
.thumbnail img {
  border: 2px solid transparent; /* Ban đầu không có border */
  transition: border 0.3s ease;  /* Hiệu ứng chuyển đổi mượt mà khi hover */
}

.thumbnail img:hover {
  border: 2px solid #515151; 

  border-radius: 12px;/* Border sẽ hiện lên khi di chuột vào */
}
