.container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.noidungSP {
  margin-left: 20px;
  padding: 20px;
  background-color: #F4F4F2;
}

h3 {
  max-width: 100%;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.price {
  color: red;
  font-weight: 700;
  font-size: 24px;
}

.soluongSP {
  margin-top: 20px;
  margin-right: 10px;
  width: 60px;
  height: 40px;
  text-align: center;
  border: 2px solid #CCC;
}

.btnCart {
  width: 250px;
  height: 40px;
}

.gioiThieu p {
  text-align: justify;
}

.mxh {
  display: flex;
  align-items: center;
  gap: 15px;
}

.mxh a {
  color: #000;
  font-size: 20px;
  transition: color 0.3s;
}

.mxh a:hover {
  color: #007bff;
}

hr {
  margin: 30px 0;
}

.btn-prev {
  margin-right: 10px;
  width: 40px;
  height: 40px;

}

.btn-next {
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 768px) {
  .col-md-4, .col-md-8 {
    flex: 100%;
    max-width: 100%;
  }

  .noidungSP {
    margin-left: 0;
  }

  h3 {
    font-size: 24px;
  }

  .price {
    font-size: 20px;
  }
}
.d-flex {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.btn-prev:hover, .btn-next:hover {
  background-color: #0056b3;
}

.instrument-brand {
  text-align: center;
}

.instrument-brand img {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
}


.instrument-brand a:hover {
  border-bottom: 1px solid #000;
}

/* Responsive Design for smaller screens */
@media (max-width: 768px) {
  .col-5 {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }

  .soluongSP {
    width: 50px;
    padding: 6px;
    font-size: 14px;
  }

  .instrument-brand img {
    width: 80px;
  }

}

.btn-cart {
  width: 100%;
}

.add-to-cart {
  width: 100%;
  height: 50px;
  font-weight: 700;
  border: none;
  background-color: #E94F37;
  color: #fff;
  border-radius: 5px;
}

.service {
  width: 100%;
  padding: 20px;
}

.buy-service {
  font-size: 16px;
  margin-top: 10px;
}

.buy-service i {
  font-size: 22px;
}

.product-service {
  font-size: 16px;
  margin-top: 15px;
}

.product-service i {
  font-size: 22px;
}

.ship-service {
  font-size: 16;
  margin-top: 15px;
}

.ship-service i {
  font-size: 22px;
}
.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #4f46e5;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-overlay {
  position: fixed; /* Để nó ở trên toàn bộ màn hình */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8); /* Tạo nền mờ nếu cần */
  z-index: 1000; /* Đảm bảo nó nằm trên các phần khác */
}
