.nav-tabs{
   background-color: white;
   padding: 0;
}

.nav-item{
   text-align:left ;
   font-size: 15px;
}

.nav-tabs .nav-link {
    border-radius: 6px;
    padding: 10px 20px;
    margin-bottom: 10px;
    transition: all 0.3s;
}

.tab-content {
    height: 100vh; /* 100% chiều cao màn hình */
 }

.album-create-card{
    border-left:1px solid gray;
    border-right: none;
    border-bottom: none;
    padding: 0 40px;
}

.table th td  {
    text-align: center; 
  }

  .table td  {
    text-align: center; 
  }

  .btn-remove{
    margin-left: 0;
  }

  .btn-update{
    background-color: #343a40;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .btn-update:hover {
    background-color:#576369;
  }
