.user-infor h1 {
    font-size: 22px;
    font-weight: 700;
}

.order-infor h1 {
    font-size: 22px;
    font-weight: 700;
    margin-top: 30px;
}

.shipping-method {
    padding: 10px;
    border: 1px solid #E94F37;
    border-radius: 5px;
}

.shipping-method h5 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.shipping-method p {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin: 0;
}

.checkout button {
    width: 100%;
    margin-top: 20px;
    background-color: #E94F37;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.shopping-cart {
    background-color: #fff1ef;
    padding: 20px;
}

.instrument-image {
    margin-bottom: 10px;
}

.instrument-image img {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
}

.instrument-name p {
    margin: 0px 0px 0px 10px;
    color: #000;
    font-weight: 500;
}

.instrument-price p {
    margin: 0px 0px 0px 10px;
    color: #000;
}